

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../images/landing_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  font-family: "montserratregular";
}


p {
  margin: 20px;
  text-align: justify;}

/* Center the content in the browser window */
.container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.greetings {
  height: 70vh;
  overflow: auto;
  background-color: rgba(226, 41, 41, 0.8);
  padding: 1rem;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


